.span3
  %label
    - splitted = announcement.text.split(" ", 4)
    - body = splitted.pop
    - title = splitted * " "
    %h3
      - if announcement.type == 'offer'
        %span.badge.badge-success
          %i.icon-arrow-right.icon-white
      - else
        %span.badge.badge-info
          %i.icon-arrow-left.icon-white
      = title
    %span.label
      %i.icon-tags
      - announcement.tags_array.each do |tag|
        = tag
    %br
    %p{:style => "max-height: 57px; overflow: hidden"}
      = announcement.text
    %small
      = announcement.user
      = l announcement.created_at.to_date
