.span6
  %h1
    = announcement.title
  %p
    = announcement.text
  = form_for [announcement, Comment.new], html: {:class => "well"} do |f|
    %fieldset
      = f.text_area :text, rows: 3, :class => "input-xlarge"
      = f.submit value: t(".action.Comment"), :class => "btn btn-success"
  - unless announcement.comments_list.empty?
    %table.table.table-condensed
      - announcement.comments_list.each do |comment|
        %tr
          %td
            %span.label= comment.username
            %br
            = l comment.created_at.to_date
          %td= comment.text
          %td
            - if can?(:manage, comment) or current_user.id == comment.user_id
              %a{href: announcement_comment_path(announcement.id, comment.id), "data-confirm" => t(:confirm_popup_question), "data-method" => "delete"}
                &times;
.span4
  %p
    %i.icon-refresh
    = t ".type.#{announcement.type}"
  %p
    %i.icon-user
    = announcement.user_name
  %p
    %i.icon-calendar
    = l announcement.created_at.to_date
  %p
    %i.icon-tags 
    = announcement.tags_array.join ", "
  - if can? :edit, announcement
    %p
      %a.btn.btn-warning{href: edit_announcement_path(announcement.id)}
        %i.icon-pencil
        = t ".action.Edit"
  - if can? :delete, announcement
    %p
      %a.btn.btn-danger{href: announcement_path(announcement.id), "data-confirm" => t(:confirm_popup_question), "data-method" => "delete"}
        %i.icon-remove
        = t ".action.Delete"
  - unless current_user.id == announcement.user_id
    = form_for [announcement, Transaction.new()], html: {:class => "form-inline"} do |f|
      = f.text_field :amount, placeholder: "hours", :class => "input-small"
      = f.submit value: (announcement.type == :offer ? t(".action.Pay") : t(".action.Ask")), :class => "btn btn-success"
