.span6
  %h1
    = announcement.title
  %p
    = announcement.text
.span4
  %p
    %i.icon-refresh
    = t ".type.#{announcement.type}"
  %p
    %i.icon-user
    = announcement.user_name
  %p
    %i.icon-calendar
    = l announcement.created_at.to_date
  %p
    %i.icon-tags 
    = announcement.tags_array.join ", "
  - if can? :edit, announcement
    %p
      %a.btn.btn-warning{href: edit_announcement_path(announcement.id)}
        %i.icon-pencil
        = t ".action.Edit"
  - if can? :delete, announcement
    %p
      %a.btn.btn-danger{href: announcement_path(announcement.id), "data-confirm" => t(:confirm_popup_question), "data-method" => "delete"}
        %i.icon-remove
        = t ".action.Delete"
  = form_for [announcement, Transaction.new()], html: {:class => "form-inline"} do |f|
    = f.text_field :amount, placeholder: "hours", :class => "input-small"
    = f.submit value: (announcement.type == :offer ? t(".action.Pay") : t(".action.Ask")), :class => "btn btn-success"
