.span3
  %label
    %h3
      - if announcement.type == 'offer'
        %span.badge.badge-success
          %i.icon-arrow-right.icon-white
      - else
        %span.badge.badge-info
          %i.icon-arrow-left.icon-white
      = announcement.title
    %span.label
      %i.icon-tags
      - announcement.tags_array.each do |tag|
        = tag
    %br
    %p
      = announcement.text
    %small
      = announcement.user
      = l announcement.created_at.to_date
