%tr
  %td
    - ann_type_string = t "announcements.announcement.type.#{announcement_row.type}"
    - if announcement_row.type == :offer
      %span.label.label-success
        = ann_type_string
    - else
      %span.label.label-info
        = ann_type_string
  %td
    - if announcement_row.tags_array.present?
      - announcement_row.tags_array.each do |tag|
        %span.label= tag
  %td{style: "width: 50%;"}
    - if can? :see, :author
      = link_to(announcement_row.title, announcement_row)
    - else
      = announcement_row.title
  - if can? :see, :author
    %td
      = announcement_row.user_name
  %td
    = l announcement_row.created_at.to_date
