.span6
  %h1
    = announcement.title
  %p
    = announcement.text
.span4
  %p
    %i.icon-refresh
    = announcement.type
  %p
    %i.icon-user
    = announcement.user_name
  %p
    %i.icon-calendar
    = l announcement.created_at.to_date
  %p
    %i.icon-tags 
    = announcement.tags_array.join ", "
  %p
    - if can? :edit, announcement
      %a.btn.btn-warning{href: edit_announcement_path(announcement.id)}
        %i.icon-pencil
        Edit
    - if can? :delete, announcement
      %a.btn.btn-danger{href: announcement_path(announcement.id), "data-confirm" => "Are you sure?", "data-method" => "delete"}
        %i.icon-remove
        Delete
  %form.well.form-inline{action: new_announcement_transaction_path(announcement_id: announcement.id)}
    - if announcement.type == :offer
      Pay
    - else
      Ask
    %label.text
      %input.input-small{type: :text, name: :amount, placeholder: "Amount"}
      hours
    %input.btn.btn-success{type: :submit}
