= form_for @announcement, :html => { :class => "form-horizontal" } do |f|
  -if @announcement.errors.any?
    #error_explanation
      %h2= "#{pluralize(@announcement.errors.count, "error")} prohibited this announcement from being saved:"
      %ul
        - @announcement.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    %legend= t ".header"
    - if can?(:manage, Announcement)
      .control-group
        = f.label :user, :class => "control-label"
        .controls
          = f.collection_select :user_id, User.all, :id, :to_s
    
    .control-group
      = f.label :type, :class => "control-label"
      .controls
        = f.select :type, Announcement::TYPE_VALUES

    .control-group
      = f.label :text, :class => "control-label"
      .controls
        = f.text_area :text, rows: 5
        %span.help-inline= t(".legend.text")

    .control-group
      = f.label :tags, :class => "control-label"
      .controls
        = f.text_field :tags
        %span.help-inline= t(".legend.tags")

    .form-actions
      = f.submit t('.action.Save'), :class => "btn btn-primary"
      %a.btn{href: announcements_path}= t('.action.Back')
