%section#announcements
.page-header
  %h1 
    = t :Announcements
    %small Offers and requests
.navbar
  .navbar-inner
    .container
      %ul.nav
        %li
          %a{href: "?", :"data-remote" => true, :"data-replace" => '#announcement-list'}
            %i.icon-list.icon-white
            = t ".filter.All"
        %li.dropdown
          %a.dropdown-toggle{href: '#', :"data-toggle" => "dropdown"}
            %i.icon-refresh.icon-white
            = t ".filter.Type"
            %b.caret
          %ul.dropdown-menu
            %li
              %a{href: "?type=offer", :"data-remote" => true, :"data-replace" => '#announcement-list'}
                %i.icon-arrow-right
                = t ".filter.Offers"
            %li
              %a{href: "?type=request", :"data-remote" => true, :"data-replace" => '#announcement-list'}
                %i.icon-arrow-left
                = t ".filter.Requests"
        - if can? :participate, Conversation
          %li.dropdown
            %a.dropdown-toggle{href: '#', :"data-toggle" => "dropdown"}
              %i.icon-user.icon-white
              Status
              %b.caret
            %ul.dropdown-menu
              %li
                %a{href: "?mine=1", :"data-remote" => true, :"data-replace" => '#announcement-list'}
                  %i.icon-user
                  Mine
              %li
                %a{href: "?with_me=1", :"data-remote" => true, :"data-replace" => '#announcement-list'}
                  %i.icon-align-left
                  Conversating

        
        %li.dropdown
          %a.dropdown-toggle{href: '#', :"data-toggle" => "dropdown"}
            %i.icon-tags.icon-white
            = t ".filter.Tags"
            %b.caret
          %ul.dropdown-menu
            - Announcement.tags_with_weight.sort.each do |(tag, wt)|
              %li
                %a{href: "?tag=#{tag}", :"data-remote" => true, :"data-replace" => '#announcement-list'}
                  %i.icon-tag
                  = "#{tag} (#{wt.to_i})"
      %form.navbar-search{action: "#"}
        %input.search-query{type: "text", placeholder: t(".filter.Search"), name: "q"}
      - if can? :create, Announcement
        %a.btn.btn-success.pull-right{href: new_announcement_path}
          %i.icon-plus
          = t ".action.New"
      
.row
  .span12
    %table.table.table-striped
      %thead
        %tr
          %th
            %i.icon-refresh
            Type
          %th 
            %i.icon-tags 
            Tags
          %th Title
          - if can? :see, :author
            %th
              %i.icon-user
              Author
          %th
            %i.icon-calendar
            Created
      %tbody#announcement-list
        = render collection: @announcements, partial: "announcements/announcement_row"
