.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{:href => "/"} Banc del temps
      %ul.nav
        %li= link_to "Announcements", announcements_path
        - if can? :read, Account
          %li= link_to "Accounts", accounts_path
        - if can? :read, Users
          %li= link_to "Users", users_path
      .nav-collapse
        %ul.nav.pull-right
          %li.divider-vertical
          - if user_signed_in?
            = render "shared/user_menu"
          - else
            = render "shared/user_authenticate"
