%li.dropdown
  %a.dropdown-toggle{href: '#', :"data-toggle" => "dropdown"}
    %i.icon-user.icon-white
    = current_user
    %b.caret
  %ul.dropdown-menu
    %li
      %a{href: '#'}
        = "#{t ".role"}: #{t("." + current_user.role.to_s)}"
    %li
      %a{href: account_path}
        = "#{t ".balance"}: #{current_user.balance_str}"
    %li
      %a{href: 'https://github.com/rewritten/timebank/issues'}
        %i.icon-comment
        = t ".feedback"
    %li.divider
    %li
      %a{href: destroy_user_session_path, :"data-method" => :delete, rel: "nofollow"}
        %i.icon-off
        = t ".sign_out"
= image_tag(current_user.face, :class => 'face')
