%p#notice= notice
%h2= @account.user.name
%p
  %b Balance:
  = @account.balance
= link_to 'Edit', edit_account_path(@account)
|
\#{link_to 'Back', accounts_path}

%header
  %h3 Transactions
%table.table
  %thead
    %tr
      %th=t ".date"
      %th=t ".amount"
      %th=t ".source"
      %th=t ".destination"
      %th=t ".announcement"
      %th=t ".confirmed"
  %tbody
    - (@account.transactions_from + @account.transactions_to).sort_by(&:created_at).reverse.each do |transaction|
      - is_from = transaction.source_id == @account.id
      %tr
        %td= l transaction.created_at.to_date
        %td= transaction.amount * (is_from ? -1 : +1)
        %td= transaction.source_user_name
        %td= transaction.destination_user_name
        %td= transaction.announcement_title
        %td= transaction.confirmed?

  