%p#notice= notice
%p
  %b User:
  = @account.user.email
%p
  %b Balance:
  = @account.balance
= link_to 'Edit', edit_account_path(@account)
|
\#{link_to 'Back', accounts_path}

%header
  %h3 Transactions
  %table
    %thead
      %tr
        %th Date
        %th Amount
        %th From/To
    - (@account.transactions_from + @account.transactions_to).sort_by(&:created_at).reverse.each do |t|
      - is_from = t.source_id == @account.id
      %tr
        %td=t.created_at.to_s
        %td=is_from ? -t.amount : t.amount
        %td=is_from ? t.destination.user.email : t.source.user.email

  